<div class="reserved-spells-zone">
  <div class="zone-label">RITUAL</div>
  <div class="reserved-cards-stack">
    <% @cards.each_with_index do |card, index| %>
      <div class="reserved-card-wrapper" style="--stack-index: <%= index %>;">
          <%= render Game::CardComponent.new(card_entity: card, variant: :resolving) %>
      </div>
    <% end %>
  </div>
</div>
